{% extends "base.html" %}
{% block content %}

<h2>📚 Library Books</h2>

<div class="table-section">
    <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Availability</th>
            <th>Actions</th>
        </tr>
        {% for b in books %}
        <tr>
            <td>{{ b['title'] }}</td>
            <td>{{ b['author'] }}</td>
            <td>
                {% if b['available'] == 1 %}
                    ✅ Available
                {% else %}
                    ❌ Borrowed
                {% endif %}
            </td>
            <td style="text-align:center;">
                <a href="{{ url_for('delete_book', book_id=b['id']) }}" class="brown-btn">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

<hr>

<div class="add-new-book-section">
    <h3>➕ Add a New Book</h3>
    <form action="{{ url_for('add_book') }}" method="POST">
        <input type="text" name="title" placeholder="Enter Book Title" required>
        <input type="text" name="author" placeholder="Enter Author" required>
        <button type="submit" class="brown-btn">Add Book</button>
    </form>
</div>

{% endblock %}
