{% extends "base.html" %}

{% block content %}
<div class="centered-content">  

    <section class="hero"> 
      <h1>Welcome to LibroLink 📚</h1>
      <p>Explore, borrow, and manage books with ease — your learning hub is here.</p>
      <div class="hero-buttons">
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('register') }}">Register</a>
        <a href="{{ url_for('search') }}">Search Books</a>
      </div>
    </section>

    <h3>Available Books </h3>

    {% if books %}
      <table class="table" style="max-width: 800px;"> <tr>
          <th data-label="Title">Title</th>
          <th data-label="Author">Author</th>
        </tr>
        {% for b in books %}
        <tr>
          <td>{{ b['title'] }}</td>
          <td>{{ b['author'] }}</td>
        </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>No books yet.</p>
    {% endif %}

</div> 

{% endblock %}