{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2>👩‍🎓 Registered Students</h2>


    <table>
        <tr>
            <th>Name</th>
            <th>Course</th>
            <th>Year</th>
        </tr>
        {% for s in students %}
        <tr>
            <td>{{ s['name'] }}</td>
            <td>{{ s['course'] }}</td>
            <td>{{ s['year_level'] }}</td>
        </tr>
        {% endfor %}
    </table>

    <div class="add-new-book-section">
        <h3>Add Student</h3>
        <form action="{{ url_for('add_student') }}" method="POST">
            <input type="text" name="student_name" placeholder="Student Name" required>
            <input type="text" name="course" placeholder="Course" required>
            <input type="number" name="year" placeholder="Year" required>
            <button type="submit" class="brown-btn">Add Student</button>
        </form>
    </div>
</div>
{% endblock %}
